.body {
    background-color: #121212;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.backButton {
    padding: 10px;
    border-radius: 15px;
    border-width: 5px;
    border-color: black;
    background-color: grey;
    font-size: calc(10px + 1vmin);
    color: white;
    width: 120px;
}

.backButton:hover {
    background-color: white;
    transform: scale(1.05);
    color: black;
}

.dataInputForm {
    margin-top: calc(80px + 2vmin);
}

.or {
    padding: 15px;
    align-self: center;
}

label {
    font-size: 25px;
}

.formOptions {
    display: flex;
    flex-direction: row;
}

.path {
    flex: 1;
}

.element {
    flex: 1;
    padding-left: 3%;
}

.form {
    flex-direction: column;
    width: 80%;
}

.nameInput {
    margin-left: 5%;
    width: 40%;
    font-size: 25px;
    height: 25px;
}

.homeButtons {
    margin-top: calc(100vh/3);
    display: flex;
    flex-direction: column;
}

.submitButton {
    align-self: center;
    width: fit-content;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    background-color: white;
    color: black;
    font-size: calc(10px + 2vmin);
    padding: 10px;
}

.submitButton:hover {
    align-self: center;
    width: fit-content;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    background-color: gray;
    color: white;
    font-size: calc(10px + 2vmin);
    padding: 10px;
}

.submitButtonDiv {
    flex: 1;
    display: flex;
    align-items: center;
}

.charName {
    width: 50%;
    margin-left: 5%;
}

.helloworld {
    color: yellow;
    font-weight: 1000;
    font-size: 200px;
}

.characterTable {
    margin-top: calc(80px + 2vmin);
    background-color: #121212;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 95%;
    max-width: 100vh;
}

.characterDetailsTable {
    margin-top: calc(10px + 2vmin);
    background-color: #1f1f1f;
    display: grid;
    column-gap: 1vw;
    grid-template-columns: auto auto;
    border-radius: 10px;
    width: 95%;
    max-width: 80vh;
    padding: 30px;
}

.characterName {
    margin-top: calc(80px + 2vmin);
    font-size: calc(60px + 2vmin);
    font-weight: 300;
}

.characterDetails {
    grid-template-rows: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.characterDetailsTable img.characterIcon {
    width: calc(200px + 2vmin);
    max-width: 100vh;
}

@media only screen and (max-width: 1200px) {
    
    .characterDetailsTable {
        max-width: 80vw;
    }

    .characterName {
        margin-top: calc(80px + 2vmin);
        font-size: calc(35px + 2vmin);
        font-weight: 300;
    }

    .characterDetailsTable img.characterIcon {
        width: calc(128px + 2vmin);
        height: calc(128px + 2vmin);
    }

    .characterDetails img.pathIcon {
        width: calc(40px + 2vmin);
    }

    .characterDetails img.elementIcon {
        width: calc(40px + 2vmin);
    }
}

.characterDetailsTable img.pathIcon {
    max-width: calc(60px + 2vmin);
    margin-right: 20px;
}

.characterDetails div {
    display: flex;
    align-items: center;
    margin: 5px;
}

.characterDetails img.elementIcon {
    max-width: calc(60px + 2vmin);
    margin-right: 20px;
}


td {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 250;
}

td.elementTD {
    padding-right: 5px;
}

th {
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 450;
}

th.Name {
    width: 25%;
}

th.Path {
    width: 25%;
}

th.Element {
    width: 20%;
}

th.CharacterIcon {
    width: 10%;
}

th.PathIcon {
    width: 10%;
}

th.ElementIcon {
    width: 10%;
}

@media only screen and (max-width: 800px) {
    th.Name {
        width: 25%;
    }

    td.Path {
        width: 0%;
        display: none;
    }

    td.Element {
        width: 0%;
        display: none;
    }

    th.CharacterIcon {
        width: 25%;
    }

    th.Path {
        width: 20%;
    }

    th.Element {
        width: 20%;
    }

    th.CharacterIcon {
        width: 25%;
    }

    th.PathIcon {
        width: 0%;
        display: none;
    }

    th.ElementIcon {
        width: 0%;
        display: none;
    }
}

tbody tr {
    background-color: #1e1e1e;
    color: white;
    border: solid thin round #121212;
}

tbody tr:hover {
    background-color: #bb86fc;
    color: #121212;
}

.navigation {
    overflow: hidden;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation a {
    align-self: center;
    flex: 1;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(10px + 2vmin);
}

.navigation a:hover {
    background: #ddd;
    color: black;
}

.currentWebsite {
    background-color: #121212;
    align-self: center;
    flex: 1;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(10px + 2vmin);
}

.currentWebsite :hover {
    background: #ddd;
    color: black;
}

.form label {
    font-size: calc(15px + 2vmin);
}

.formOptions p {
    font-size: calc(15px + 2vmin);
}

.formOptions .path label {
    font-size: calc(10px + 2vmin);
}

.formOptions .element label {
    font-size: calc(10px + 2vmin);
}

img.characterIcon {
    height: calc(95%);
    width: calc(95%);
}

img.pathIcon {
    height: calc(95%);
    width: calc(95%);
}

img.elementIcon {
    height: calc(95%);
    width: calc(95%);
}